.properties__container {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.properties__list {
    @media screen and (min-width: 768px) {
        display: flex;
    } 

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
    } 
}

.properties__item {
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
        margin-bottom: 0;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.properties-icons__wrap {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px; 
    justify-content: center;
}

.properties__title {
    @include font (700, 14px, 1.14, 0.03em);
    color: var(--title-collor);
    margin-bottom: 10px; 
    width: 100%;

    @media screen and (min-width: 768px) and (max-width:1199px) {
        text-align: left;
    }

    text-align: center;
    text-transform: uppercase;
}

.properties__text {
    @include font (400, 14px, 1.17, 0.03em);
    color: var(--main-text-color);
}