.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal { 
    @media screen and (max-width:479px) {
        width: 320px;
    }
    
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }
    
        background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 40px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    overflow: scroll;
}

.backdrop.is-hidden{
    .modal {
        transform: scale(1.1) translate(-50%, -50%);
    }
} 

.modal__close-btn {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
    .modal__close-btn:hover &,
    .modal__close-btn:focus & {
        fill: var(--hover-color);
    }
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
